{{ define "content-block"}}
	<section class="services">
		<h1 style="margin: 0;" class="main-title">Our Services</h1>
		<div class="service-wrapper">
			<article class="service">
			<svg class="service-icon">
				<use xlink:href="#idea"></use>
			</svg>
			<section class="service-info">
				<h1 class="service-title">Visual Identity</h1>
				<p class="service-blurb">We work with you to create a cohesive suite of symbols that customers can connect to your brand.</p>
			</section>
			
		</article>
		<article class="service">
			<svg class="service-icon">
				<use xlink:href="#creativity"></use>
			</svg>
			<section class="service-info">
				<h1 class="service-title">Creative Strategy</h1>
				<p class="service-blurb">We identify a game plan that keeps your business' unique strengths and challenges in mind.</p>
			</section>
			
		</article>
		<article class="service">
			<svg class="service-icon">
				<use xlink:href="#design"></use>
			</svg>
			<section class="service-info">
				<h1 class="service-title">Web Design and Development</h1>
				<p class="service-blurb">We create a place for your to showcase your business and services to your clients.</p>
			</section>
		</article>
		</div>
	</section>
	<section class="recent-work">
		<div class="recent-work-wrapper">
			{{ $portfolioPage := .Site.GetPage "/portfolio"}}
	{{ $logos := $portfolioPage.Pages}}
	<h1 style="margin: 0;" class="main-title">Recent Work</h1>
	
	{{ range first 6 $portfolioPage.Pages.ByDate }}
		{{ partial "portfolio-card.html" .}}
	{{ end }}
	<div class="see-more-wrap"><a href='{{ "/portfolio/" | relURL }}' class="button see-more">See More</a></div>
		</div>
	</section>



        
{{ end }}


