.contact
	.content-wrapper
		padding-top: 0
	.form-inner-wrapper
		display: flex
		flex-flow: row wrap
		.form-section
			width: 100%
			margin-bottom: 1rem
			&.message
	
		input[type="text"], textarea

			box-shadow: $mediumdarkshadow
			border-radius: 5px
			border: 0
			padding: .4rem
			transition: outline .3s ease-in-out
			&:focus
				// outline-color: $darkpurple-80
				box-shadow: 0px 0px 10px $darkpurple-80
				outline: 1px solid transparent		
		label
			font-size: .8rem
		input[type="reset"], input[type="submit"]
			@extend .button
			color: white !important
			border: none
			border: 2px solid transparent
			a
				color: white
		input[type="reset"]
			background: none
			border: 2px solid $darkpurple-80
			color: $darkpurple-80 !important
			transition: border-color .2s ease-in-out
			&:hover
				border: 2px solid transparent
				color: white !important
		.form-inner-section
			width: 48%
			// margin-right: 4%
		#captcha-wrapper 
			margin-bottom: 1rem
			img
				box-shadow: $mediumdarkshadow
				border-radius: 5px
				outline: 1px solid transparent
	.required-note
		font-size: .9rem
		font-style: italic			
	

			
