.taxonomy
	.content-wrapper
		grid-template-columns: 1fr
		// grid-gap: 20px
		@media screen and ($medium-small-screens)
			grid-template-columns: 1fr 1fr
		@media screen and ($medium-screens)
			grid-template-columns: 1fr 1fr 1fr 1fr
		.list-result
			box-shadow: $mediumdarkshadow
			padding: 10px
			box-sizing: border-box
			grid-column: span 1
			background: white
			display: flex
			flex-flow: column
			display: grid
			grid-gap: 5px 10px
			border-radius: 10px
			border: 2px solid transparent
			width: 100%
			grid-template-columns: 4rem 1fr
			grid-template-rows: min-content min-content
			outline: 3px solid transparent
			transition: outline .2s ease-in-out
			@media screen and ($medium-small-screens)
				grid-column: span 2

			&:hover, &:focus
				border: 2px soild $darkpurple-50
				box-shadow: $darkshadow
			&.logo-list-result
				grid-column: span 1
				justify-items: center
				align-items: center	
				grid-template-columns: 1fr
				padding: 3px
				a
					width: 100%
				.list-result-pic
					width: 100%
					height: auto
					margin: auto
					display: inline
					vertical-align: bottom
					object-fit: cover
					// object-position: 50% 50%
					border-radius: 5px 5px 0 0
				.list-title
					grid-row: 2/-1
					font-size: 1rem
		.list-title
			grid-column: 1 / -1
			grid-row: 1 / 2
			margin: 0 0 10px 0
			font-size: 1.1rem
			text-decoration: none
			&:hover
				text-decoration: underline
			a 
				text-decoration: none
				&:hover
					text-decoration: underline
		.list-pic-wrapper
			grid-column: 1 / 2
			grid-row: 2 /-1
			height: 4rem
			width: 4rem
			overflow: hidden
			border-radius: 3px
			.list-result-pic, .list-result-pic-placeholder
				height: 100%
				object-fit: cover
				// object-position: 50% 50%
				// border-radius: 3px
		.list-description
			grid-column: 2 / -1
			grid-row: 2 /-1
			p
				margin: 0 5px
		.list-meta-info
			grid-column: 1/-1
			font-size: .8rem
			place-self: center end
			margin-top: .5rem
