.main-header
	display: flex
	flex-direction: column
	border-bottom: 1px $light-60 solid
	background: white
	@media screen and ($medium-screens)
			padding: 3rem
	.main-nav
		display: flex
		flex-direction: column
		position: fixed
		width: 100%
		background: white
		background: rgba(white, .8)
		margin: 0
		bottom: -100vh
		align-items: center
		margin: 0
		max-width: 100%
		transition: bottom .2s ease-in-out
		z-index: 5
		&.open
			bottom: 0
		@media screen and ($medium-small-screens)
			flex-direction: row
			position: static
			background: none
			display: grid
			grid-template-columns: 5fr 1fr 1fr 1fr 1fr
			margin: 1rem 0		
		.nav-link
			margin: 1.5rem 0
			text-transform: uppercase
			color: $dark-80
			text-decoration: none
			font-weight: 700
			transition: color .2s ease
			text-align: center
			@media screen and ($medium-small-screens)
				margin: .3rem 1rem
				font-size: .8rem
			&:hover
				color: $teal-80
			&.home
				font-size: 1.1rem
				font-weight: 800
				text-align: left
	.nav-toggle
		background: white
		height: 2.5rem
		width: 2.5rem
		border: 1px solid $dark-80
		color: $dark-80
		font-size: .8rem
		font-weight: 700
		transition: color .2s ease
		display: flex
		justify-content: center
		align-items: center
		position: fixed
		bottom: 20px
		right: 20px
		z-index: 10
		display: none
		@media screen and ($small-screens)
			display: inline
		svg
			height: 1rem
			width: 1rem
		
	.main-page-info
		max-width: 700px
		margin: auto
		text-align: center
		margin: 2rem auto
		@media screen and ($medium-screens)
			margin: 4rem auto
		@media screen and ($small-screens)
				padding: 0 30px
		.main-title
			width: 100%
			margin: 1.2rem 0 0 0
			font-size: 4rem
			font-weight: 800
			@media screen and ($small-screens)
				font-size: 3rem
		.main-description
			font-size: 1.5rem
			font-weight: 600
			margin: 1rem 0
			@media screen and ($small-screens)
				font-size: 1.2rem
		.further-description
			line-height: 1.6
			font-size: 1.1rem
			font-weight: 500
			max-width: 500px
			text-align: center
			margin: 0
			@media screen and ($small-screens)
				font-size: 1rem
		.taxonomy-link
			text-decoration: none
			transition: background .2s ease-in-out
		.tag-name, .category-name
			background: $light-80
			margin: 0 4px
			padding: 5px 10px
			border-radius: 1px
			color: white
			font-weight: 600
			font-size: .8rem
			text-transform: uppercase
			&:hover
				background: #3E4A59
		.category-name
			background: $light-80
			font-size: 1.1rem
			color: white
			display: inline-block
			min-width: 150px
			font-weight: 700
			&.workshop
				background: $gold-50
			&.talk
				background: $teal-90
			&.blog-post
				background: $darkpurple-40
			&.quicktip
				background: $green-50
			&:hover
				background: #3E4A59				

		.blog-when
			font-weight: 500