.single .content-wrapper, .page .content-wrapper, .about .content-wrapper
	flex-flow: column
	width: 90%
	max-width: 900px
	line-height: 1.8
	grid-template-columns: 1fr
	grid-template-rows: 1fr
	grid-gap: 0
	p
		margin: 1rem 0
		display: block
		img
			margin: auto
			text-align: center
			width: 100%
	iframe
		margin: 1rem auto
		display: block
		width: 80%
		max-width: 800px
		border-radius: 10px
		box-shadow: rgba(60, 66, 87, 0.2) 0px 10px 14px 0px, rgba(0, 0, 0, 0.2) 0px 6px 6px 0px
	
		&.youtube-embed
				max-width: 600px

	.post-image-figure
		margin: .5rem auto
		background: white
		// width: 80%
		max-width: 800px
		border-radius: 10px
		box-shadow: rgba(60, 66, 87, 0.2) 0px 10px 14px 0px, rgba(0, 0, 0, 0.2) 0px 6px 6px 0px
		padding: 5px
		.post-image
			box-shadow: none
			border-radius: 5px 5px 0 0
			min-width: 100%
		img
				width: 100%
		.post-image-caption
			font-size: .7rem
			font-style: italic
			font-weight: 600
			p
				margin: .3rem 0 0 .3rem
	blockquote
		width: 90%
		max-width: 750px
		border-left: 5px solid $teal-80
		padding: 1rem 
		font-size: 1.3rem
		font-style: italic
		font-color: dark-50
		font-weight: 500
	mark
		background: rgba($teal-50, .4)
		padding: 3px
	
	code
		background: $light-60
		padding: 1.5px 3px
		border-radius: 2px
	pre
		padding: 1rem
		border-radius: 10px
		box-shadow: rgba(60, 66, 87, 0.2) 0px 10px 14px 0px, rgba(0, 0, 0, 0.2) 0px 6px 6px 0px
		code
			background: none
.project-image
	max-width: 500px			
	margin: .5rem auto 
	border-radius: 10px
	box-shadow: rgba(60, 66, 87, 0.2) 0px 10px 14px 0px, rgba(0, 0, 0, 0.2) 0px 6px 6px 0px

.disqus-wrapper
	margin-top: 2rem
	iframe
		box-shadow: none