
// $writing-focus-color: $purple
// $teaching-focus-color: $pink
// $creating-focus-color: $gold
// $main-focus-color: $teal
// $home-focus-color: $teal
// $andmore-focus-color: $blue
// $contact-focus-color: $orange

$small-screens: 'max-width: 649px'
$medium-small-screens: 'min-width: 650px'
$medium-screens: 'min-width: 800px'
$large-screens: 'min-width: 930px'

$sans-serif: 'Montserrat', sans-serif
$serif: 'IBM Plex Serif', serif

