{{ define "content-block"}}

<p>Keisha S Perkins is a self-taught freelance designer and developer from Baton Rouge,
Louisiana. The goal of her designs is to allow form and function to meet client needs. Keisha
has been working in some freelance capacity since 2010 and prides herself on efficient service
that keeps clients’ goals in mind.</p>

<p>KayEssPea Design, LLC, a Baton Rouge graphic design company, was formed in 2015.
KayEssPea Design’s core competency is branding for small businesses in the state of
Louisiana. KayEssPea Design strives to provide customers with visual identity content that will
set them apart from their competition while conveying the message of their brand to their
target audience.</p>

{{end}}