{{ partial "meta.html" . }}
<body class='{{.Layout}} {{.Section}} {{.Type}} {{.Kind}} {{if .Params.removecontent}}removecontent{{end}}'>
	<div class="size-debug"><span></span></div>
	
		<main class='main-wrapper'>
	   {{ partial "main-header.html" . }}
		   {{ if not .Params.removecontent }}
			   <div class='content-wrapper'>
			   	{{ block "content-block" . }}
				 	{{end}}
			   </div>
		   {{ end }}
		</main>
	{{ partial "main-footer.html" . }}
	{{ partial "svg-sprite.html" .}}
	{{ partial "logo.html" .}}
</body> 