{{define "content-block"}}

	{{ range (.Paginator 12).Pages}}
	 <article class="list-result">
	 	<h1 class="list-title" >
	 		<a class="list-title-link" href="{{.Permalink}}">
	 			{{.Title}}
	 		</a>
	 	</h1>

	 	<div class="list-pic-wrapper">
	 		<img class="list-result-pic" src='{{ range first 1 (.Resources.ByType "image") }}{{.Permalink}}{{end}}' alt="{{ .Title }}">
	 	</div>

	 	<section class="list-description">{{ .Content | replaceRE "<iframe.*?/iframe>" " " | htmlUnescape | safeHTML | truncate 100 }}</section>
	 </article>
		
	{{end}}
	<section class="paginator-wrapper">
		{{ template "_internal/pagination.html" . }}
	</section>

{{end}}