{{ define "content-block" }}

<section class="pricing-chart">
  <article class="package">
    <p class="package-descriptor">Lowest Price</p>
    <h1 class="package-title">Basic</h1>
    <p class="package-price">$500</p>
    <p class="package-blurb">Just what you need to begin branding your content for print and web.</p>
    <ul class="package-features">
      <li class="feature">1 Design Concepts</li>
      <li class="feature">1 Round of Revisions</li>
      <li class="feature">Full Color Logo</li>
      <li class="feature">Black and White Logo</li>
      <li class="feature">JPG and PNG Format</li>
      <li class="feature">Color Info Document</li>
    </ul>
    <a href='{{ "./contact/basic-package" | relURL }}' class="button package-cta">Get Started</a>
  </article>
  <article class="package featured">
    <p class="package-descriptor">Most Popular</p>
    <h1 class="package-title">Professional</h1>
    <p class="package-price">$1000</p>
    <p class="package-blurb">A more robust package with file formats for even more applications.</p>
    <ul class="package-features">
      <li class="feature">3 Design Concepts</li>
      <li class="feature">2 Rounds of Revisions</li>
      <li class="feature">All Basic Package Features</li>
      <li class="feature">EPS and SVG Format</li>
      <li class="feature">Branded single-color formats</li>
      <li class="feature">Vertical and Horizontal Formats</li>
      <li class="feature">Brand Styleguide</li>
      <li class="feature">Favicon Package</li>
    </ul>
    <a href='{{ "./contact/professional-package" | relURL }}' class="button package-cta">Get Started</a>
  </article>
  <article class="package">
    <p class="package-descriptor">Most Complete</p>
    <h1 class="package-title">Premium</h1>
    <p class="package-price">$5000</p>
    <p class="package-blurb">A complete branding package that gives you all you need to put your business's best foot forward.</p>
    <ul class="package-features">
      <li class="feature">5 Design Concepts</li>
      <li class="feature">2 Rounds of Revisions</li>
      <li class="feature">All Professional Package Features</li>
      <li class="feature">Letterhead and Business Cards</li>
      <li class="feature">One-page Website</li>
    </ul>
    <a href='{{ "./contact/premium-package" | relURL }}' class="button package-cta">Get Started</a>
  </article>
  <article class="need-more">
    <h1 class="package-title">Not seeing what you're looking for?</h1>
    <p>Sometimes your business needs just a bit more to really make its mark. No worries! We can discuss your needs and craft a solution that works for you. we can help you understand your options so you can make the best decision&nbsp;for&nbsp;your&nbsp;business. </p>
    <a href='{{ "./contact/need-more" | relURL }}' class="button package-cta">Get Started</a>
  </article>
</section>

{{end}}
