.home
	.content-wrapper
		width: 100% !important
		max-width: 100%
		padding: 0
		background: none
	section
		display: flex
		display: grid
		padding: 2rem 0
		h1
			color: white !important
	.services
		color: white
		background: white
		background-image: url('/img/BG-Black.svg')
		background-size: cover
		.service-wrapper
			max-width: 900px
			margin: auto
			display: flex
			.service 
				margin: 10px
				// background: white
				// background: rgba(white, .5)
				text-align: left
				padding: 5px
				flex-grow: 1
				flex-basis: 0
				.service-icon
					height: 1.5rem
					width: 1.5rem
				.service-title
					font-size: 1.1rem
	.recent-work
		background: #9e0553
		background-image: url('/img/BG-Pink.svg')
		background-size: cover
		width: 100%
		.recent-work-wrapper
			display: flex
			display: grid
			width: 90%
			margin: auto
			max-width: 900px
			flex-flow: row wrap
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
			grid-column-gap: 25px
			grid-row-gap: 50px
			.portfolio-card
				background: white
				color: #222
				text-align: center
			.see-more-wrap
				width: 100%
