<nav id="main-nav" class="main-nav">
	<a href='{{ "/" | relURL }}' class="nav-link home">
		KayEssPea Design
	</a>
	
	<a href='{{ "/about/" | relURL }}' class="nav-link about">About</a>
	<a href='{{ "/portfolio/" | relURL }}' class="nav-link portfolio">Portfolio</a>
	<a href='{{ "/blog/" | relURL }}' class="nav-link blog">Blog</a>
	<a href='{{ "/pricing/" | relURL }}' class="nav-link pricing">Pricing</a>
	<a href='{{ "/contact/" | relURL }}' class="nav-link contact">Contact</a>
</nav>
<button id="nav-toggle" class="nav-toggle">
	<svg>
		<use href="#menu" />
	</svg>
</button>
