<div class="portfolio-card">
  <a href="#{{ anchorize .Name }}">
  	<img class="portfolio-pic" src='{{ .RelPermalink }}' alt="Logo for {{ .Name }}">
  </a>
</div>

<div id="{{ anchorize .Name }}" class="modal" role="dialog" aria-labelledby="Modal title" aria-describedby="Modal description">
		<div class="modal-content">
			<div class="header">
				 <a href="#" id="close">
					 <div class="box box3">
					  <svg viewBox="0 0 40 40">
					    <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30"></path>
					  </svg>
					</div>
				</a>
				<h2>Projects</h2>

			</div>
			<div class="copy">
				<img class="portfolio-modal-content-image" src='{{ .RelPermalink }}' alt="Logo for {{ .Name }}">
				<!-- <h1 class="portfolio-modal-content-title">{{ .Name }}</h1> -->
            </div>
		</div>
<a href="#"><div class="overlay"></div></a>
</div>

